﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
</head>
<body>
    <p>
        Welkom bij uw Band app. Hier komt u alles te weten over de bands en hun leden
    </p>
</body>
</html>