﻿@using MyHobbies;

<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
</head>
<body>
    @if (!ViewBag.toonLeden)
    {
        <a href="LijstMetLeden/">Toon met leden</a>
    }

    <ul>
        @foreach (Band band in ViewBag.lijst)
        {
            <li>@band.Naam (@band.Oprichtjaar)</li>

            if (ViewBag.toonLeden)
            {
                <ul>
                    @foreach (Bandlid lid in band.Bandleden)
                    {
                        <li>@lid.Naam, @lid.Leeftijd, @lid.Geslacht, @(lid.Gestorven ? "Gestorven" : "Niet gestorven") </li>
                    }
                </ul>
            }
        }
    </ul>

</body>
</html>