﻿@using MyHobbies;

<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
</head>
<body>
    @ViewBag.nieuweBand.Naam, @ViewBag.nieuweBand.Oprichtjaar
</body>
</html>